.leftbox {
  /* background-color: #fff; */
  /* border: 1px solid transparent !important; */
  color: #fff;
}

.leftbotbox {
  /* background-color: #fff; */
  color: #fff;
  /* border: 1px solid transparent !important; */
}

.go-back {
  color: #fff !important;
}

.el-switch-headers span{
  color: #fff !important;
}

.el-switch-headers span.is-active span{
  color: #409EFF !important;
}