.leftbox {
  background-color: #fff;
  border: 1px solid transparent !important;
  color: #36366f;
  border-radius: 16px;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.leftbotbox {
  background-color: #fff;
  color: #36366f;
  border: 1px solid transparent !important;
  border-radius: 16px;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.leftboxtitle {
  color: #36366f !important;
  background: #fff !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.lefttext {
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.listtitle {
  color: #36366f !important;
  background: rgb(238 242 251) !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.ListTitle{
  color: #36366f !important;
  background: rgb(238 242 251) !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.ListTitle>div{
  color: #36366f !important;
  font-weight: bold;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.hullNumber{
  color: #36366f !important;
  background: rgb(238 242 251) !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.hullNumber>div{
  color: #36366f !important;
  font-weight: bold;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.shipclass>div{
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.hull{
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.listson {
  font-weight: bold;
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.shipsearch {
  border: 1px solid #ebebeb !important;
}

.shipsearch svg {
  width: 18px;
  height: 18px;
}

.shipsearch input {
  background-color: transparent !important;
  border-color: transparent !important;
}

.searchbutton {
  background-color: #4F4BFF !important;
}

.shiplegend {
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.container-box {
  background: #fff !important;
  border-radius: 16px;
  border: 1px solid transparent !important;
}

.shipmessage {
  color: black !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.title {
  background: #fff !important;
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.listArticle {
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.container-box > .titleSec{
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

/* .title svg {
  color:  !important;
} */

.center .left-list,
.center .right-echarts {
  background: #fff !important;
  color: #36366f !important;
  border: 1px solid transparent;
  border-radius: 16px;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}
.echartsTable div{
  border: 0 !important;
}

.list-search{
  border: 1px solid #ebebeb !important;
  background-color: #fff;
}

.list-search input{
  background: #fff !important;
}


.sensor{
  background-color: #eef1fb !important;
}


.success-row,
.warning-row{
  background-color: #fff !important;
  color: #36366f !important;
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}


.go-back{
  color: #36366f !important;
}
.track{
  border-left: 1px solid #ebebeb !important;
}